body {
    margin: 1;
    background: skyblue;
    text-align: center;
}

h1 {
    font-family: verdana;
    font-size: 200%;
    border: 2px solid navy;
    padding: 30px;
  }
p  {
    font-family: courier;
    font-size: 160%;
    margin: 50px;
  }